
<ion-content>
  <div id="game"></div> 
  <ion-footer>
      <ion-navbar>
          <button ion-button color="secondary" (click)="playerMove(true)"><ion-icon name="arrow-back"></ion-icon></button>
          <!-- <button ion-button color="secondary" (click)="playerMove(null, true)"><ion-icon name="pause"></ion-icon></button> -->
          <button ion-button color="secondary" (click)="playerMove(false)"><ion-icon name="arrow-forward"></ion-icon></button>
          <ion-buttons end>
          <button ion-button color="danger" (click)="clickFireBullet()"><ion-icon name="jet"></ion-icon></button>
          <button ion-button color="danger" (click)="keepFireBullet()"><ion-icon name="jet"></ion-icon><ion-icon name="jet"></ion-icon></button>
            </ion-buttons>
        </ion-navbar>
  </ion-footer>
</ion-content>
